/*================
-----FONT FACE----
==================*/

@font-face {
  font-family: muliregular;
  src: url(../fonts/muli/Muli.ttf);
}

body{
	font-family: muliregular, "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}

body p{
	font-family: muliregular, "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    font-size: 1em !important;
    font-style: normal;
    text-align: justify;
}

body .font-muli{
	font-family: muliregular !important;
}

/*================
------NAVBAR------
==================*/
.navbar .nav-link{
    padding: 7px 24px 6px !important;
}

.navbar .link-decoration{
	color: #a3a3a6;
	text-transform: uppercase;
}

.navbar .link-decoration:hover{
	text-decoration: underline;
}

.label-username{
	color: #9b8f8f;
	transition: 0.2s all;
}

.label-username:hover{
	color: #0c9198;
}

/*================
--------NAV-------
==================*/
.nav .nav-link{
	color: white;
	padding: 12px 15px 13px;
	transition: 0.2s all;
}
.nav .nav-link:hover{
	background-color:rgb(12,145,152);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.nav-desc .nav-link{font-size: 0.8em;}
	.navbar-brand img{height: 40px;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.nav-desc .nav-link{font-size: 0.8em;}
	.navbar-brand img{height: 45px;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.nav-desc .nav-link{font-size: 0.9em;}
	.navbar-brand img{height: 50px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.nav-desc .nav-link{font-size: 1em;}
	.navbar-brand img{height: 55px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.nav-desc .nav-link{font-size: 1em;}
}


/*================
----BANNER-HOME---
==================*/

.promo-box{
	background-image: url('../images/banner.jpg');
	background-size: 100%;
	background-position: center;  
}

.promo-box-size{
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
}

.promo-desc{
	color: #0c9198;
}

.promo-subtitle{
	font: 24px/1 muliregular;
}

.promo-title{
	display: block;
    font: 60px/1.3 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 18px;
}

.promo-button{
	text-decoration: none;
    transition: all 0.1s linear 0s;
	display: inline-block;
	background-color: #0c9198;
    border: 2px solid #0c9198;
	color: #fff; 
	padding: 7px 24px 6px !important; 
    display: inline-block;
    vertical-align: middle;
    font: 14px/1.3 muliregular;
    border-radius: 0;
    text-transform: uppercase;
    transition: all .1s;
    white-space: nowrap;
}

.promo-button:hover{
	color: #0c9198 !important;
	background-color: #fff;
	text-decoration: none; 	
}

.promo-box-img{
	width: 100%;
	position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%)
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.promo-title{font-size: 32px;}
	.promo-subtitle{font-size: 12px;white-space: nowrap;}
	.promo-box-size{min-height: 300px;height: auto;padding-top: 65px;padding-bottom: 65px;background-size: 180%;}
	.promo-box-img{width: 180%;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.promo-title{font-size: 40px;}
	.promo-subtitle{font-size: 15px;}
	.promo-box-size{min-height: 300px;height: auto;padding-top: 65px;padding-bottom: 65px;background-size: 150%;}
	.promo-box-img{width: 150%;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.promo-title{font-size: 40px;}
	.promo-subtitle{font-size: 18px;}
	.promo-box-size{height: 350px;background-size: 120%;}
	.promo-box-img{width: 120%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.promo-title{font-size: 50px;}
	.promo-subtitle{font-size: 20px;}
	.promo-box-size{height: 400px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.promo-title{font-size: 60px;}
	.promo-subtitle{font-size: 24px;}
	.promo-box-size{height: 500px;}
}


/*================
--SECTION CURSOS--
==================*/

.title-section{
	font: 30px/1 'Work Sans', sans-serif;
    font-weight: 700;
}

.curso-img{
	overflow: hidden;
}

.curso-img img{
	height: auto;
	width: 100%;
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.curso-img{height: 250px;}
	.order-1{order: 1 !important;}
	.curso-img img{width: 150%;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.curso-img{height: 280px;}
	.order-1{order: 1 !important;}
	.curso-img img{width: 130%;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.curso-img{height: 300px;}
	.order-1{order: -1 !important;}
	.curso-img img{width: 120%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.curso-img{height: 350px;}
	.order-1{order: -1 !important;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.curso-img{height: 397px;}
	.order-1{order: -1 !important;}
}

/*================
------CURSOS------
==================*/

.curso-title{
	font-weight: 400;
	color: #3c3c3c;
}

.card{
	border: solid 1px #0c9198 !important;
    border-bottom: 3px solid #213469 !important;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.125), inset 0 0 0 1px rgba(255, 255, 255, 0.75) !important;
}

.card-body{
	background: #fafafa !important;
}

.card, .card-img-top, .card-body{border-radius: 0px !important;}

.card-img{
	overflow: hidden;
	cursor: pointer;
	position: relative;
	border-radius: 0px !important;
}

.card-img-link-box{
	position: absolute;
	top: 150%;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0%;
	display: flex;
	align-items: center;
	transition: 0.2s all;
}

.card-img-link{
	margin: 0 auto;
	padding: 7px 24px 6px !important;
	border: 1.5px solid #fff;
	text-decoration: none !important;
}

.card-img:hover .card-img-link-box{
	top: 0%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.card-img-top{height: 180px;}
	.card-body-desc{height: 110px;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.card-img-top{height: 160px;}
	.card-body-desc{height: 110px;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.card-img-top{height: 140px;}
	.card-body-desc{height: 110px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.card-img-top{height: 120px;}
	.card-body-desc{height: 110px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.card-img-top{height: 120px;}
	.card-body-desc{height: 110px;}
}


/*================
-SECTION ABOUT CURSO-
==================*/

.about-course h2{
	font: normal 1.2em/1.2em Georgia,Cambria,"Times New Roman",Times,serif;
	font-family: muliregular !important;
	color: #646464;	
	padding-top: 30px;
    margin: 0 0 40px;
}

.about-course p{
	font-size: 15px;
    line-height: 24px;
	font-family: muliregular !important;
}

.course-desc{
    border: 1px solid #dae4ee;
    text-align: center;
    box-sizing: border-box;
}

.course-desc p{
	color: #36424a !important; 
	font-size: 0.9em !important;
	margin-bottom: 0px !important;	
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.video-course{height: 300px;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.video-course{height: 350px;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.video-course{height: 380px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.video-course{height: 400px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.video-course{height: 400px;}
}


/*================
-----DASHBOARD---
==================*/

.card-course{
	border: 1px solid #f5f5f5;
    border-radius: 3px;
}

.break-line{
	border-top:4px solid #f5f5f5;
}

.card-course-img{
	overflow: hidden;
	position: relative;
}

.card-course-img img{
	height: auto;
	width: 100%;
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info-course{
	border-radius: 3px;
	border: 1px solid #e4e4e4;
	padding: 10px 20px;
    background: #f1f1f1;
    border: 1px solid #e4e4e4;
    color: #3c3c3c;
}

.icon-form-inside{
  position: absolute;
  margin-left: 5px;
  height: 25px;
  display: flex;
  align-items: center;
}

.button-inside-input{
	position: absolute;
	z-index: 100;
	background-color: transparent;
	border: none;  
	right: 0px;
	margin: 2px 5px; 
	top: 0px;
}

.dropdown-toggle::after{
	position: absolute;
	right: 0px;

} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.card-course-img{height: 130px;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.card-course-img{height: 130px;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.card-course-img{height: 130px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.card-course-img{height: 140px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.card-course-img{height: 160px;}
}


/*================
-------LOGIN------
==================*/

.title-login{
	color: #065683;
	font-size: 24px;
	font-weight: 400;
    line-height: 35.52px;
}

.form-control{
	border: 1px solid #c8c8c8 !important;
    padding-top: 2.5px !important;
    padding-bottom: 2.5px !important;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.6), inset 0 0 3px 0 rgba(0,0,0,0.1) !important;
	border-radius: 0px !important;
}

/*================
-------FOOTER-----
==================*/

footer{
	background-color: #213469;
	color: white;
	padding: 53px 0; 
}

footer p, footer li{
	font-family: muliregular !important;
    font-size: 0.9em;
    font-style: normal;
    line-height: 1em;
}


/*================
-------COLORS-----
==================*/
.bg-blue-dark{
	background-color: #213469;
}

.color-blue{
	color: #0c9198 !important;
}

.color-blue-dark{
	color: #213469;
}

.color-gray{
	color: #36424a;
}

.color-black{
	color: #555;
}

.color-gray-black{
	color: #3c3c3c;
}

.overlay-black{
	background: rgba(0,0,0,0.8);
}

/*================
------BUTTONS-----
==================*/

.link-decoration-border{
    text-decoration: none;
    padding: 7px 24px 6px !important;
    transition: all 0.1s linear 0s;
	display: inline-block;
	color: #0c9198;
    border: 2px solid #0c9198;
    display: inline-block;
    vertical-align: middle;
    font: 14px/1.3 muliregular;
    color: #0c9198 !important;
    box-shadow: none;
    border-radius: 0;
    background: none;
    text-transform: uppercase;
    transition: all .1s;
    white-space: nowrap;
}

.link-decoration-border:hover{
    background-color: #0c9198 !important;
    color: #fff !important;
    text-decoration: none;
}

.link-decoration-border-out{
	text-decoration: none;
    transition: all 0.1s linear 0s;
	display: inline-block;
	background-color: #0c9198;
    border: 2px solid #0c9198;
	color: #fff; 
	padding: 7px 24px 6px !important; 
    display: inline-block;
    vertical-align: middle;
    font: 14px/1.3 muliregular;
    border-radius: 0;
    text-transform: uppercase;
    transition: all .1s;
    white-space: nowrap;
}

.link-decoration-border-out:hover{
    color: #0c9198 !important;
	background-color: #fff;
	text-decoration: none; 	
}

.btn-send{
    padding: 7px 24px 6px !important;
	background-color: #213469 !important;
    color: white !important;
}

.btn-send:hover{
	background-color: #0c9198 !important;
    color: white !important;
}


/*================
-------MARGINS-----
==================*/

.margin-bottom{
	margin-bottom: 40px;
}

.margin-top{
	margin-top: 40px;
}

.centralizar-horizontalmente{
	display: flex !important;
	align-items: center !important;
}
